.Question {
  min-height: 24vh;
  width: 88%;
  padding: 2vh;
  display: flex;
  border: 1px #ffffff solid;
  background-color: #202027;
}
.questiontitle {
  font-size: 1.4em;
}
.questdesc {
  color: #d7f1f1;
}
.username {
  display: flex;
  width: 17vw;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
  color: #3de6e6;
}
.questdet {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  min-width: 70%;

  justify-content: center;
}
.questiontags {
  display: flex;
  width: 50%;
  color: #3de6e6;
  justify-content: space-around;
}
.tag a {
  color: #88e1e1;
  font-size: 1.1em;
  font-weight: 500;
}
.commentsec {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.comment {
  display: flex;
}
.comment a {
  color: white;
}
.ansdet {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.numanswers {
  height: 5vh;
  width: 8vw;
  border: 1px solid #a9fecb;
  border-radius: 10px;
  align-items: center;
  display: flex;
  color: #ffffff;
  padding-left: 30px;
}
.addsec {
  display: flex;
  justify-content: space-between;
}
.answsec button {
  height: 5vh;
  width: 7vw;
  border-radius: 20px;
  font-weight: 500;
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: #88e1e1;
}
.addcomments {
  display: flex;
}
.addanswer {
  display: flex;
}
.tag {
  height: 5vh;
  width: 7vw;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
